<li class="paper">
  {% for a in include.paper.authors %}{% if a == "Anant Goyal" %}<strong>{{ a }}</strong>{% else %}{{ a }}{% endif %}{% unless forloop.last %}, {% endunless %}{% endfor %},
  "<a href="https://doi.org/{{ include.paper.doi }}">{{ include.paper.title }}</a>,"
  <em>{{ include.paper.venue }}</em>, {{ include.paper.year }}.
  {% if include.paper.pdf %}[<a href="{{ include.paper.pdf | relative_url }}">pdf</a>]{% endif %}
  {% if include.paper.code %}[<a href="{{ include.paper.code }}">code</a>]{% endif %}
</li>
